@model IEnumerable<Proyecto_ED1_2020.Models.Paciente>

@{
    ViewBag.Title = "BusquedaAvanzada";
}

<h2>BusquedaAvanzada</h2>
<hr />

<form action="BusquedaAvanzada" method="post">
    <input type="text" name="ParametroDeBusqueda" value="" />

    <button>Buscar</button>
</form>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CUI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Munucipio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HospitalDeAtencion)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CUI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Munucipio)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.HospitalDeAtencion)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Detalles", new { id = item.CUI })
                </td>
            </tr>
        }
    }

</table>
